
Astar/.vs/Astar/v16/.suo
Astar/.vs/Astar/v16/Browse.VC.db
Astar/.vs/Astar/v16/Browse.VC.opendb
Astar/.vs/Astar/v16/ipch/AutoPCH/4bd437373dcb7ce0/SOURCE.ipch
Astar/.vs/Astar/v16/ipch/AutoPCH/52297eae01a5e381/UTILS.ipch
Astar/.vs/Astar/v16/ipch/AutoPCH/9418494f61c5c401/ASTAR.ipch
.vscode/settings.json
.vscode/tasks.json
